//ID_NAME               TYPE            PATH
Wizard.glb              RCDATA          "assets/models/Wizard.glb"
World0.glb              RCDATA          "assets/models/World0.glb"
World1.glb              RCDATA          "assets/models/World1.glb"
World2.glb              RCDATA          "assets/models/World2.glb"
Box.glb                 RCDATA          "assets/models/Box.glb"
Dude.glb                RCDATA         "assets/models/Dude.glb"
ID_SHADER_SKINNED_V     RCDATA          "assets/shaders/model_skinned.vert.spv"
ID_SHADER_MODEL_V       RCDATA          "assets/shaders/model.vert.spv"
ID_SHADER_MODEL_F       RCDATA          "assets/shaders/model.frag.spv"
ID_SHADER_RECT_V        RCDATA          "assets/shaders/rect.vert.spv"
ID_SHADER_RECT_F        RCDATA          "assets/shaders/rect.frag.spv"
ID_SHADER_TEXT_V        RCDATA          "assets/shaders/text.vert.spv"
ID_SHADER_TEXT_F        RCDATA          "assets/shaders/text.frag.spv"
ID_SHADER_LINE_V        RCDATA          "assets/shaders/line.vert.spv"
ID_SHADER_LINE_F        RCDATA          "assets/shaders/line.frag.spv"
ID_SHADER_SPHERE_V      RCDATA          "assets/shaders/sphere.vert.spv"
ID_SHADER_SPHERE_F      RCDATA          "assets/shaders/sphere.frag.spv"
ID_FONT_ATLAS           RCDATA          "assets/fonts/atlas.raw"
ID_FONT_METRICS         RCDATA          "assets/fonts/atlas.json"

