//ID_NAME               TYPE            PATH
ID_MODEL_WIZARD         RCDATA          "assets/models/Wizard.glb"
ID_MODEL_WORLD0         RCDATA          "assets/models/World0.glb"
ID_MODEL_WORLD1         RCDATA          "assets/models/World1.glb"
ID_MODEL_WORLD2         RCDATA          "assets/models/World2.glb"
ID_SHADER_MODELV        RCDATA          "assets/shaders/model.vert.spv"
ID_SHADER_MODELF        RCDATA          "assets/shaders/model.frag.spv"
ID_SHADER_RECTV         RCDATA          "assets/shaders/rect.vert.spv"
ID_SHADER_RECTF         RCDATA          "assets/shaders/rect.frag.spv"
ID_SHADER_TEXTV         RCDATA          "assets/shaders/text.vert.spv"
ID_SHADER_TEXTF         RCDATA          "assets/shaders/text.frag.spv"
ID_SHADER_LINEV         RCDATA          "assets/shaders/line.vert.spv"
ID_SHADER_LINEF         RCDATA          "assets/shaders/line.frag.spv"
ID_FONT_ATLAS           RCDATA          "assets/fonts/atlas.raw"
ID_FONT_METRICS         RCDATA          "assets/fonts/atlas.json"