//ID_NAME               TYPE            PATH
ID_MODEL_WIZARD         RCDATA          "assets/models/Wizard.glb"
ID_SHADER_BASIC2D       RCDATA          "assets/shaders/basic2d.vert.spv"
ID_SHADER_BASICRECT     RCDATA          "assets/shaders/basicrect.vert.spv"
ID_SHADER_BASIC3D       RCDATA          "assets/shaders/basic3d.vert.spv"
ID_SHADER_BASICFRAG     RCDATA          "assets/shaders/basicfrag.frag.spv"
ID_SHADER_BASICTEXT     RCDATA          "assets/shaders/basictext.vert.spv"
ID_SHADER_BASICTEXTFRAG RCDATA          "assets/shaders/basictextfrag.frag.spv"
ID_FONT_ATLAS           RCDATA          "assets/fonts/atlas.raw"
ID_FONT_METRICS         RCDATA          "assets/fonts/atlas.json"