//ID_NAME               TYPE            PATH
FireParticle.png        RCDATA          "images/FireParticle.png"
ShockParticle.png       RCDATA          "images/ShockParticle.png"
CloudParticle.png       RCDATA          "images/CloudParticle.png"
BloodParticle.png       RCDATA          "images/BloodParticle.png"
RedSky.webp             RCDATA          "images/RedSky.webp"
Fireball.png            RCDATA          "images/Fireball.png"
Pistol.png              RCDATA          "images/Pistol.png"
Blade.png               RCDATA          "images/Blade.png"
CardCrystal.png         RCDATA          "images/CardCrystal.png"
DashCard.png            RCDATA          "images/DashCard.png"
TornadoCard.png         RCDATA          "images/TornadoCard.png"
Cloud1.webp             RCDATA          "images/Cloud1.webp"
HealthTexture.webp      RCDATA          "images/HealthTexture.webp"
SpikeFrameFilled.webp   RCDATA          "images/SpikeFrameFilled.webp"
SwirlFrame.webp         RCDATA          "images/SwirlFrame.webp"
Cloud2.webp             RCDATA          "images/Cloud2.webp"
Border.webp             RCDATA          "images/Border.webp"

Wizard.glb              RCDATA          "models/Wizard.glb"
World0.glb              RCDATA          "models/World0.glb"
World1.glb              RCDATA          "models/World1.glb"
World2.glb              RCDATA          "models/World2.glb"
Box.glb                 RCDATA          "models/Box.glb"
Dude.glb                RCDATA          "models/Dude.glb"

Beep1.wav               RCDATA          "sounds/Beep1.wav"
Beep2.wav               RCDATA          "sounds/Beep2.wav"
DigiLoad.mp3            RCDATA          "sounds/DigiLoad.mp3"
Hit.wav                 RCDATA          "sounds/Hit.wav"
MenuMusic.mp3           RCDATA          "sounds/MenuMusic.mp3"
SpaceGun.mp3            RCDATA          "sounds/SpaceGun.mp3"
Woong1.wav              RCDATA          "sounds/Woong1.wav"
dash.mp3                RCDATA          "sounds/Dash2.mp3"
fireballUse.mp3         RCDATA          "sounds/fireballUse.mp3"
FireballImpact.mp3      RCDATA          "sounds/FireballImpact.mp3"
PlayerHit.mp3           RCDATA          "sounds/PlayerHit.mp3"
SwordHit.mp3            RCDATA          "sounds/SwordHit.mp3"
HeavySword.mp3          RCDATA          "sounds/HeavySword.mp3"

atlas.raw               RCDATA          "fonts/atlas.raw"
atlas.json              RCDATA          "fonts/atlas.json"

ID_SHADER_MODEL_V       RCDATA          "shaders/model.vert.spv"
ID_SHADER_SKINNED_V     RCDATA          "shaders/model_skinned.vert.spv"
ID_SHADER_MODEL_F       RCDATA          "shaders/model.frag.spv"
ID_SHADER_RECT_V        RCDATA          "shaders/rect.vert.spv"
ID_SHADER_RECT_F        RCDATA          "shaders/rect.frag.spv"
ID_SHADER_RECTI_V       RCDATA          "shaders/recti.vert.spv"
ID_SHADER_RECTI_F       RCDATA          "shaders/recti.frag.spv"
ID_SHADER_TEXT_V        RCDATA          "shaders/text.vert.spv"
ID_SHADER_TEXT_F        RCDATA          "shaders/text.frag.spv"
ID_SHADER_LINE_V        RCDATA          "shaders/line.vert.spv"
ID_SHADER_LINE_F        RCDATA          "shaders/line.frag.spv"
ID_SHADER_SPHERE_V      RCDATA          "shaders/sphere.vert.spv"
ID_SHADER_SPHERE_F      RCDATA          "shaders/sphere.frag.spv"
ID_SHADER_SKYBOX_V      RCDATA          "shaders/skybox.vert.spv"
ID_SHADER_SKYBOX_F      RCDATA          "shaders/skybox.frag.spv"
ID_SHADER_FIREBALL_F    RCDATA          "shaders/fireball.frag.spv"
ID_SHADER_TEXT3D_F      RCDATA          "shaders/text3d.frag.spv"

ID_SHADER_FONT2D_V      RCDATA          "shaders/font2d.vert.spv"
ID_SHADER_FONT_F        RCDATA          "shaders/font.frag.spv"

ID_SHADER_QUAD_V        RCDATA          "shaders/quad.vert.spv"
ID_SHADER_HEALTHBAR_F   RCDATA          "shaders/healthbar.frag.spv"
ID_SHADER_SPRITE_F      RCDATA          "shaders/sprite.frag.spv"
